html, body 
{
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
	min-width: 1000px;
	font-family: 'HelveticaRegular',Helvetica,Arial;
}

#header
{
	background-color: #202020;
	width: 100%;
	min-width: 1000px;
	height: 110px;
	padding-top: 30px;
}

#navigationHeader
{
    border-radius: 5px;
	margin: 0 auto;
    background-color: #E0E0E0;
    padding: 20px; 
    width: 950px;
    height: 40px; 
	top: 25px;
}

#main
{
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 775px;
	background: #202020;
	background: -moz-linear-gradient(top,  #202020 0%, #202020 50%, #E0E0E0  50%, #E0E0E0  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(50%,#202020), color-stop(50%,#E0E0E0 ), color-stop(100%,#E0E0E0 ));
	background: -webkit-linear-gradient(top,  #202020 0%,#202020 50%,#E0E0E0  50%,#E0E0E0  100%);
	background: -o-linear-gradient(top,  #202020 0%,#202020 50%,#E0E0E0  50%,#E0E0E0  100%);
	background: -ms-linear-gradient(top,  #202020 0%,#202020 50%,#E0E0E0  50%,#E0E0E0  100%);
	background: linear-gradient(to bottom,  #202020 0%,#202020 50%,#E0E0E0  50%,#E0E0E0  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#E0E0E0 ',GradientType=0 );
}

#footer
{
	margin: 0px;
	height: 20px;
	min-width: 1000px;
	padding-top: 5px;	
	padding-bottom: 5px;	
	background: #E0E0E0;
	background: -moz-linear-gradient(top,  #E0E0E0 0%, #E0E0E0 0%, #202020 12%, #202020 12%, #202020 18%, #202020 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(0%,#E0E0E0), color-stop(12%,#202020), color-stop(12%,#202020), color-stop(18%,#202020), color-stop(100%,#202020));
	background: -webkit-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 0%,#202020 12%,#202020 12%,#202020 18%,#202020 100%);
	background: -o-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 0%,#202020 12%,#202020 12%,#202020 18%,#202020 100%);
	background: -ms-linear-gradient(top,  #E0E0E0 0%,#E0E0E0 0%,#202020 12%,#202020 12%,#202020 18%,#202020 100%);
	background: linear-gradient(to bottom,  #E0E0E0 0%,#E0E0E0 0%,#202020 12%,#202020 12%,#202020 18%,#202020 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#202020',GradientType=0 );
}

#content
{
    border-radius: 5px;
	margin: 0 auto;
	width: 990px;
	height: 90%;
	min-height: 750px;
	background-color: #E0E0E0;
	box-shadow: 0px 0px 8px 2px #202020;
}

#loginMain
{
	position: relative;
    border-radius: 5px;
	width: 275px;
	height: 200px;
	float: left;
	margin-left: 350px;
	margin-top: 200px;
	background: #202020;
	background: -moz-linear-gradient(top,  #202020 0%, #202020 25%, #E0E0E0  25%, #E0E0E0  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(25%,#202020), color-stop(25%,#E0E0E0 ), color-stop(100%,#E0E0E0 ));
	background: -webkit-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: -o-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: -ms-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: linear-gradient(to bottom,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#E0E0E0 ',GradientType=0 );
	box-shadow: 0px 0px 8px 2px #202020;
}

#createRequest
{
    border-radius: 5px;
	width: 275px;
	height: 200px;
	float: left;
	margin-left: 350px;
	margin-top: 150px;
	background: #202020;
	background: -moz-linear-gradient(top,  #202020 0%, #202020 25%, #E0E0E0  25%, #E0E0E0  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(25%,#202020), color-stop(25%,#E0E0E0 ), color-stop(100%,#E0E0E0 ));
	background: -webkit-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: -o-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: -ms-linear-gradient(top,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	background: linear-gradient(to bottom,  #202020 0%,#202020 25%,#E0E0E0  25%,#E0E0E0  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#E0E0E0 ',GradientType=0 );
	box-shadow: 0px 0px 8px 2px #202020;
}

#resultTable
{
	border-spacing: 20px 0;
}

#resultTable2
{
	border-spacing: 40px 0;
}

#resultsDiv
{
	height: 540px;
	width:945px;
	margin-left: 20px;
	padding-top: 10px;
	border: 2px solid #202020;
	border-radius: 5px;
	overflow-y: scroll;
	box-shadow: 0px 0px 4px 0.5px #303030;
}

#searchBox
{
	margin-left: 20px;
	width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

#viewRequestBox
{
	margin-left: 20px;
	margin-bottom: 20px;
	width: 375px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

#candidates
{
	margin-left: 20px;
	width: 930px;
	height: 400px;
    border: 1px solid gray;
    padding: 10px;
	border-radius: 5px;
	background: #202020;
	background: -moz-linear-gradient(top,  #202020 0%, #202020 15%, #E0E0E0  15%, #E0E0E0  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(15%,#202020), color-stop(15%,#E0E0E0 ), color-stop(100%,#E0E0E0 ));
	background: -webkit-linear-gradient(top,  #202020 0%,#202020 15%,#E0E0E0  15%,#E0E0E0  100%);
	background: -o-linear-gradient(top,  #202020 0%,#202020 15%,#E0E0E0  15%,#E0E0E0  100%);
	background: -ms-linear-gradient(top,  #202020 0%,#202020 15%,#E0E0E0  15%,#E0E0E0  100%);
	background: linear-gradient(to bottom,  #202020 0%,#202020 15%,#E0E0E0  15%,#E0E0E0  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#E0E0E0 ',GradientType=0 );
}

#view
{
	width: 950px;
	height: 80%;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background: #E0E0E0;
}

#staffView
{
	width: 950px;
	height: 80%;
	float: left;
	margin-left: 20px;
	background: #E0E0E0;
}

#infoBox
{
	width: 600px;
	height: 95%;
	float: left;
	margin-left: 40px;
	background: #E0E0E0;
}

#editInfoBox
{
	width: 550px;
	height: 92%;
	float: left;
	background: #E0E0E0;
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 20px;
	padding-left:70px;
	margin-bottom: 10px;
}

#resultsBox
{
	height: 490px;
	width:945px;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	background: #202020;
	background: -moz-linear-gradient(top,  #202020 0%, #202020 10%, #E0E0E0  10%, #E0E0E0  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(10%,#202020), color-stop(10%,#E0E0E0 ), color-stop(100%,#E0E0E0 ));
	background: -webkit-linear-gradient(top,  #202020 0%,#202020 10%,#E0E0E0  10%,#E0E0E0  100%);
	background: -o-linear-gradient(top,  #202020 0%,#202020 10%,#E0E0E0  10%,#E0E0E0  100%);
	background: -ms-linear-gradient(top,  #202020 0%,#202020 10%,#E0E0E0  10%,#E0E0E0  100%);
	background: linear-gradient(to bottom,  #202020 0%,#202020 10%,#E0E0E0  10%,#E0E0E0  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#E0E0E0 ',GradientType=0 );
}

#resultsTableBox
{
	height: 87%;
	width:945px;
	margin-top:10px;
	overflow-y: scroll;
}

#managerBox
{
	height: 80%;
	width:920px;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 15px;
	overflow-y: scroll;
	background: #E0E0E0;
}

.image
{
	height: 180px; 
	width: 160px;
	border: 1px solid gray
}

.logo{
	height: 65px;
	width: 65px;
	margin-top: -13px;
	padding-left: 0px;
	z-index:5;
}

.button {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #202020;
  border-radius: 5px;
  color: #E0E0E0;
  padding: 4px 8px 4px 8px;
  border-top: 1px solid #202020;
  border-right: 1px solid #202020;
  border-bottom: 1px solid #202020;
  border-left: 1px solid #202020;
}

.links
{
	float:right;
    position:relative;
    left:-50%;
    text-align: center;
	margin-top: 15px;
}

.pages
{
	left: 50%;
	position: relative;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li input {
	display:inline-block;
	background: #E0E0E0;
	border:none;
}

